<div class="container__big-card">
  <div class="big-card__img">
    <img
      src="https://cdn.dribbble.com/userupload/13158082/file/original-d38ff239c3a4664b7bd18c92ffca497f.png?resize=1600x1200"
      alt="imagem do post em destaque"
      height="250px"
    />
  </div>
  <div class="big-card__title">
    <h1><a href="#">Teste de titulo de post</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="#">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
        vehicula finibus ultrices. Mauris porta nibh ac eros sagittis, non
        commodo mauris consectetur. Etiam sollicitudin, lectus in luctus
        tristique, orci ligula ultricies mauris, eu aliquam enim mi quis risus.
        Maecenas id elementum elit. Proin non elementum nulla.
      </a>
    </p>
  </div>
</div>
