<div class="container__small-card">
  <div class="container__small-card-content">
    <div class="small-card__img">
      <img
        src="https://cdn.dribbble.com/userupload/13180662/file/original-d659c92a7f8c1d12d1cd6421cd2d7a8b.jpg?resize=1600x1216"
        alt="imagem do post"
        height="250px"
      />
    </div>
    <div class="small-card__title">
      <h1><a href="#">Teste de titulo de post</a></h1>
    </div>
  </div>
  <div class="container__small-card__separator">
    <hr />
  </div>
</div>
